defaults: &defaults
  metadata:
    negative_cache_ttl: 600
  api:
    authentication: :token
    edugain_export_tag_name: 'aaf-edugain-export'
    edugain_verified_tag_name: 'aaf-edugain-verified'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
